:root{
  --Main-font:font-family: 'Nunito', sans-serif;
  --Primary-color:#adc178;
  --Secondary-color:#4f772d;
  --Tertiary-color:#f0ead2;
  --Body-color:#344e41
}

body{
  font-family: 'Nunito', sans-serif;
}

.hero{
  background:var(--Primary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2{
  font-family: var(--Main-font);
  font-weight: normal;
  font-size:36px;
  margin: 0;
  color:var(--Tertiary-color);
}
.about-hero{
  background:var(--Primary-color);
  text-align: center;
  padding: 160px 20px;
}
.about-hero p{
  font-size: 26px;
  line-height: 30px;
  color: var(--Body-color);
}
h1{
  font-family: var(--Main-font);
  font-size: 96px;
  font-weight: bold;
  color: var(--Tertiary-color);
}
h2{
  font-size: 64px;
  color: var(--Body-color);
}
em{
  color: var(--Secondary-color);
}
.top-5{
  font-size: 26px;
  color: var(--Body-color);
  line-height: 4;
}
p{
  font-size: 26px;
  line-height: 30px;
  color: var(--Body-color);
}
.hero p{
  font-size:24px;
  line-height: 3;
  margin: 0;
  color: var(--Secondary-color);
}
.btn-branding{
  background: var(--Secondary-color);
  border-radius:4px;
  color: var(--Tertiary-color);
  font-size: 15px;
  line-height:27px ;
  padding: 12px 20px;
  }
.btn-branding-outline{
  color: #4f772d;
  border: 1px solid var(--Secondary-color);
  border-radius:4px;
  font-size: 15px;
  line-height:27px ;
  padding: 12px 20px;
  }
  .btn-branding-outline:hover{
    color: var(--Primary-color);
  }
img{
  border-radius: 5px;
}
.card-deck{
  margin: 60px;
}
.card{
  background: var(--Tertiary-color);
  margin-bottom: 25px;
}
.card-text p{
  color: var(--Secondary-color);
  font-size: 20px;
}
 h5{
  font-size: 30px;
  color: var(--Body-color);
  line-height: 1;
}
.contact-page{
  background-color: var(--Tertiary-color);
  padding: 160px 20px;
}
.logo{
  max-height:150px;
}
nav{
  padding: 20px 0;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
  list-style: none;
  line-height: 150px;
  font-size: 20px;
  margin-left:15px;
}
nav a{
 text-decoration: none;
 color:var(--Secondary-color);
 transition:all 100ms ease-in-out
}
nav a:hover{
  color:var(--Primary-color);
}
nav li.active a{
  color: var(--Body-color);
}
.footer{
  display: block;
  margin: 0 auto;
}
.social-links{
  margin-top: -18vh;
  padding: 5px;
}
.social-links a{
  margin: 0 15px;
}




@media(max-width:900px){
 .project-description{
  padding: 0;
  text-align:center;
}
.hero{
  padding: 80px 20px;
}
.hero h1{
  font-size: 40px;
  line-height: 2;
}
.hero h2{
  font-size: 30px;
}
.hero p{
  font-size: 14px;
}
.top-5{
  font-size:14px;
  line-height: 2;
}
.about-hero{
  padding: 80px 20px;
}
.contact-page{
  padding: 80px 20px;
}
.about-hero h1{
  font-size: 35px;
}
.about-hero p{
  font-size: 14px;
}
.card-text {
  font-size: 10px;
  font-weight: bold;
}
.card-deck{
  margin: 30px;
}
.social-links{
  margin-top:20vh;
  padding: 5px;
}

h5{
  font-size: 22px;
}
p{
  font-size: 14px;
}
h2{
  font-size: 33px;
}
p{
  font-size: 14px;
  margin: 0;
}
nav li{
margin: 8px;
}
nav a{
  font-size:14px ;
}
}


